data
__pycache__
cache_dir
.DS_Store
.ipynb_checkpoints
.vscode
.venv
source

relevance-prediction/model_results
text_classification/model_results 
table_extraction/model_final.pth

# esg bert
deprecated/esgbert/bert_model/pytorch_model.bin
deprecated/esgbert/bert.mar

#bert
bert

