data
__pycache__
cache_dir
.DS_Store
.ipynb_checkpoints
.vscode
.venv
source

relevance-prediction/model_results
text_classification/model_results 
table_extraction/model_final.pth

# esg bert
deprecated/esgbert/bert_model/pytorch_model.bin
deprecated/esgbert/bert.mar

#bert
bert

.requirements.sh.swp
uncased_L-12_H-768_A-12/bert_config.json
uncased_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001
uncased_L-12_H-768_A-12/bert_model.ckpt.index
uncased_L-12_H-768_A-12/bert_model.ckpt.meta
uncased_L-12_H-768_A-12/vocab.txt
uncased_L-12_H-768_A-12/bert_config.json
uncased_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001
uncased_L-12_H-768_A-12/bert_model.ckpt.index
uncased_L-12_H-768_A-12/bert_model.ckpt.meta
uncased_L-12_H-768_A-12/vocab.txt
