  * {
      margin: 0;
      padding: 0;
  }
  
  body {
      height: 100%;
      font-family: 'Helvetica';
  }
  
  .logo {
      height: 240px;
      width: 240px;
      align-items: center;
      display: flex;
      justify-content: space-around;
      padding: 10px 0;
  }
  
  .sidebar {
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 999;
      background-color: #551e6c;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      transition: 200ms width;
  }
  
  .nav-Link,
  .doc-nav-Link {
      display: flex;
      align-items: center;
      color: white;
      border-radius: 0px;
      font-size: 16px;
      padding: 15px 50px;
      text-decoration: none;
  }
  
  .nav-Link:hover,
  .doc-nav-Link:hover {
      display: flex;
      align-items: center;
      background-color: #7D55C7;
      color: white;
      border-radius: 0px;
  }
  
  .nav-Link:focus,
  .doc-nav-Link:focus {
      background-color: #7D55C7;
  }
  
  .doc-nav-Link {
      position: fixed;
      bottom: 20px;
  }
  
  .doc-nav-Link:hover {
      padding-right: 92px;
  }
  
  .icon-nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 38px;
      width: 38px;
      padding: 5px;
      border: 0px solid #7D55C7;
      border-radius: 25px;
      background-color: white;
      margin-right: 10px;
  }
  
  .right_content {
      margin-left: 250px;
      box-sizing: border-box;
      height: 100%;
  }
  
  .section-header {
      height: 55px;
      border-bottom: 5px solid #793AF6;
  }
  
  .section-header h6 {
      min-width: 100px;
      max-width: 550px;
      height: 38px;
      background-color: #F5F8FB;
      border-right: 3px solid #CCCCCC;
      text-align: center;
      font-weight: bold;
      padding-top: 17px;
      font-size: 18px;
  }
  
  .section-main {
      margin-left: 250px;
      box-sizing: border-box;
      height: 100%;
  }
  
  .upload-main-container {
      height: 100%;
      display: grid;
      grid-template-columns: 40% auto;
      grid-gap: 25px;
      padding: 10px 25px;
  }
  
  .upload-sidebar {
      height: 100%;
      max-height: 1000px;
      overflow: auto;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      border-radius: 10px;
      padding: 20px;
  }
  
  .upload-sidebar h5 {
      font-size: 20px;
      margin-left: 10px;
  }
  
  .upload-sidebar h4 {
      font-size: 16px;
      margin-left: 15px;
      font-weight: normal;
  }
  
  .upload-sidebar ul {
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      border-radius: 10px;
      padding: 5px 0;
      margin: 10px;
  }
  
  .file-list-ul-container {
      margin: 20px;
  }
  
  .file-list-li-container {
      margin-top: 15px;
      margin-left: 35px;
  }
  
  .upload-sidebar ul a {
      text-decoration: none;
  }
  
  #searchquery {
      margin: 13px 10px;
      padding: 8px 12px;
      font-size: 14px;
      box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
      border: 2px solid #cccccc;
      border-radius: 3px;
      width: 200px;
  }
  
  #searchquery::placeholder {
      font-size: 14px;
  }
  
  .upload-right-container {
      height: 100%;
      max-width: 880px;
      margin: 0 auto;
  }
  
  .upload-sub-header-top {
      text-align: left;
      font-size: 20px;
      margin: 20px 0;
  }
  
  .upload-sub-header {
      text-align: left;
      font-size: 16px;
      margin-top: 50px;
  }
  
  .upload-sub-divider {
      text-align: left;
      margin: 40px 0;
  }
  
  .upload-sub-divider::before,
  .upload-sub-divider::after {
      display: inline-block;
      content: "";
      border-top: .3rem solid black;
      width: 4rem;
      margin: -0.6rem 1rem;
      transform: translateY(-1rem);
  }
  
  .upload-right-inputs {
      width: 100%;
      height: 35px;
  }
  
  .upload-right-inputs[type=text],
  .upload-right-inputs[type=url] {
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      border: none;
      border-bottom: 1px solid #757575;
  }
  
  .upload-right-inputs::placeholder {
      padding-left: 8px;
  }
  
  .default-main {
      margin: 30px;
      padding-top: 100px;
      text-align: center;
      border-radius: 25px;
      box-shadow: 0 0 15px 1px rgb(0 0 0 / 0.2);
      height: 400px;
      min-width: 400px;
  }
  
  .default-main button {
      margin-top: 20px;
      border-radius: 5px;
      height: 45px;
      width: 250px;
      color: white;
      font-weight: bold;
      background-color: #7D55C7;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      border-style: none;
  }
  
  .err-message {
      color: #757575
  }
  
  .file-selection-box {
      height: 60px;
      line-height: 60px;
      border-width: 1px;
      border-style: dashed;
      border-radius: 5px;
      text-align: center;
      font-weight: bold;
  }
  
  .file-list-ul {
      margin: 0;
      padding: 0;
      margin-left: -20px;
      font-size: 0.8em;
  }
  
  .err-list-ol {
      margin: 0;
      padding: 0;
  }
  
  .upload-right-button {
      margin-top: 20px;
      border-radius: 5px;
      height: 45px;
      width: 250px;
      color: white;
      font-weight: bold;
      background-color: #7D55C7;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      border-style: none;
  }
  
  .upload-right-button {}
  
  .upload-right-button:hover {
      margin-top: 20px;
      border-radius: 5px;
      height: 45px;
      width: 250px;
      color: white;
      font-weight: bold;
      background-color: #c7a355;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      border-style: none;
  }
  
  .insights-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-gap: 0px;
      padding: 10px;
  }
  
  .insights_left_content,
  .insights_right_content {
      height: 1100px;
      overflow: auto;
  }
  
  .insights_right_content {
      grid-column: 2;
      grid-row: 1;
      padding: 20px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  
  .insights_right_content .insights-cards {
      margin-bottom: 25px;
  }
  
  .insights_right_content h5 {
      margin-left: 25px;
  }
  
  .insights_left_content {
      grid-column: 1;
      grid-row: 1;
      background-color: #F5F8FB;
      border-radius: 5px;
      padding: 10px;
  }
  
  .insights_left_content .insights-cards {
      background-color: #fff;
  }
  
  .insights_left_content h5 {
      margin-left: 25px;
      margin-top: 10px;
  }
  
  .insights_left_content h5,
  .insights_right_content h5 {
      font-size: 24px;
  }
  
  .insights_left_content h6,
  .insights_right_content h6 {
      margin: 20px 28px;
      font-size: 16px;
  }
  
  .insights-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
      padding: 10px;
  }
  
  .insights-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      border-radius: 25px;
      margin: 15px;
      padding: 20px;
  }
  
  #filter-dropdown-pd {
      width: 300px;
      margin-left: 25px;
  }
  
  .insights-cards h4 {
      padding-top: 15px;
  }
  
  .insights-card-img {
      max-height: 350px;
      max-width: 700px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  
  .insights-card-footer {
      max-width: 300px;
      height: 100px;
  }
  
  .insights-card-footer span {
      display: inline-block;
      border-radius: 25px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      padding: 5px 10px;
      margin: 0px 10px 10px 0px;
      font-size: 0.8em;
      color: white;
      background-color: #7D55C7;
      white-space: break-space;
  }
  
  #selected_cards {
      height: 50px;
      width: 400px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      border-radius: 25px;
      padding: 18px 20px 0 20px;
      margin: 10px;
      text-align: center;
  }
  
  .react-entry-point {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  ._dash-loading,
  ._dash-loading-callback {
      color: #006d98;
      font-size: 8px;
      width: 0.3em;
      height: 0.3em;
      border-radius: 50%;
      position: absolute;
      top: 20px;
      right: 40px;
      text-indent: -9999em;
      -webkit-animation: load4 1.3s infinite linear;
      animation: load4 1.3s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
  }
  
  @-webkit-keyframes load4 {
      0%,
      100% {
          box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
      }
      12.5% {
          box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
      }
      25% {
          box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
      }
      37.5% {
          box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
      }
      50% {
          box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
      }
      62.5% {
          box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
      }
      75% {
          box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
      }
      87.5% {
          box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
      }
  }
  
  @keyframes load4 {
      0%,
      100% {
          box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
      }
      12.5% {
          box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
      }
      25% {
          box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
      }
      37.5% {
          box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
      }
      50% {
          box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
      }
      62.5% {
          box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
      }
      75% {
          box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
      }
      87.5% {
          box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
      }
  }
  
  .grid-dashboard-main {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: auto;
      padding: 10px;
  }
  
  .section-dashboard_bar_chart {
      grid-column: 4;
      grid-row: 2;
      height: 500px;
      padding: 20px;
      width: 380px;
  }
  
  .section-dashboard_relevant_tables h6,
  .section-dashboard_bar_chart h6 {
      font-size: 24px;
  }
  
  .section-dashboard_wordcloud1 {
      grid-column: 1;
      grid-row: 1;
  }
  
  .section-dashboard_wordcloud2 {
      grid-column: 2;
      grid-row: 1;
  }
  
  .section-dashboard_wordcloud3 {
      grid-column: 3;
      grid-row: 1;
  }
  
  .section-dashboard_wordcloud4 {
      grid-column: 4;
      grid-row: 1;
  }
  
  .section-dashboard_relevant_tables {
      grid-column: span 3;
      grid-row: 2;
      height: 500px;
      min-width: 400px;
      padding: 20px;
  }
  
  .section-dashboard_bar_chart,
  .section-dashboard_relevant_tables,
  .section-dashboard_wordcloud1,
  .section-dashboard_wordcloud2,
  .section-dashboard_wordcloud3,
  .section-dashboard_wordcloud4 {
      border-radius: 25px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      margin: 15px;
  }
  
  .section-dashboard_wordcloud1,
  .section-dashboard_wordcloud2,
  .section-dashboard_wordcloud3,
  .section-dashboard_wordcloud4 {
      height: 380px;
      width: 380px;
      padding: 20px;
      text-align: center;
  }
  
  .section-dashboard_wordcloud1 img,
  .section-dashboard_wordcloud2 img,
  .section-dashboard_wordcloud3 img,
  .section-dashboard_wordcloud4 img {
      height: 380px;
      width: 380px;
  }
  
  .section-dashboard_filter_class h4 {
      margin-top: 10px;
      padding: 10px 0;
  }
  
  #filter_dropdown {
      width: 250px;
  }
  
  #table-container {
      height: 390px;
      margin-top: 10px;
      overflow: auto;
  }
  
  @media(max-width:1300px) {
      .upload-main-container {
          grid-template-columns: 100%;
      }
      .insights-content {
          grid-template-columns: repeat(1, 1fr);
      }
      .insights_left_content {
          grid-column: 1;
          grid-row: 2;
      }
      .insights_right_content {
          grid-column: 1;
          grid-row: 1;
      }
      .upload-sidebar {
          height: 400px;
      }
  }
  
  @media(max-width:950px) {
      .insights-content {
          grid-template-columns: repeat(1, 1fr);
      }
      .insights_left_content {
          grid-column: 1;
          grid-row: 2;
      }
      .insights_right_content {
          grid-column: 1;
          grid-row: 1;
      }
      .upload-main-container,
      .grid-dashboard-main {
          grid-template-columns: 100%;
      }
      .section-dashboard_bar_chart {
          grid-column: span 1;
          grid-row: 1;
      }
      .section-dashboard_relevant_tables {
          grid-column: span 1;
          grid-row: 2;
          height: 500px;
      }
      .section-dashboard_wordcloud1 {
          grid-column: 1;
          grid-row: 3;
          min-width: 400px;
      }
      .section-dashboard_wordcloud2 {
          grid-column: 1;
          grid-row: 4;
          min-width: 400px;
      }
      .section-dashboard_wordcloud3 {
          grid-column: 1;
          grid-row: 5;
          min-width: 400px;
      }
      .section-dashboard_wordcloud4 {
          grid-column: 1;
          grid-row: 6;
          min-width: 400px;
      }
      .section-dashboard_wordcloud1,
      .section-dashboard_wordcloud2,
      .section-dashboard_wordcloud3,
      .section-dashboard_wordcloud4,
      .section-dashboard_bar_chart {
          width: auto;
      }
      .nav-Link span,
      .doc-nav-Link span {
          display: none;
      }
      .nav-Link,
      .doc-nav-Link {
          padding: 10px 13px;
      }
      .nav-Link:hover,
      .doc-nav-Link:hover {
          width: 49px;
      }
      .doc-nav-Link:hover {
          width: 62px;
      }
      .doc-nav-Link:hover {
          padding-right: 0px;
      }
      .sidebar {
          width: 75px;
          transition: 100ms width;
      }
      .section-main {
          margin-left: 75px;
      }
      .logo {
          height: 75px;
          width: 75px;
          text-align: center;
      }
      .upload-sidebar {
          height: 400px;
      }
  }