absl-py==0.14.1
amqp==5.0.6
antlr4-python3-runtime==4.8
appdirs==1.4.4
applaunchservices==0.2.1
argh==0.26.2
arviz==0.11.4
astunparse==1.6.3
atomicwrites==1.4.0
attrs==21.2.0
backports.weakref==1.0.post1
billiard==3.6.4.0
bkcharts==0.2
black==21.4b2
boto==2.49.0
Bottleneck==1.3.2
Brotli==1.0.9
brotlipy==0.7.0
cachetools==4.2.4
camelot-py==0.10.1
cattrs==1.8.0
celery==5.1.2
certifi==2021.5.30
cftime==1.5.1
charset-normalizer==2.0.6
clang==5.0
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
configparser==3.5.3
contextlib2==0.6.0.post1
cvxopt==1.2.7
cvxpy==1.1.15
cycler==0.10.0
cytoolz==0.11.0
dash==2.0.0
dash-bootstrap-components==1.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-table-experiments==0.6.0
dash-trich-components==1.0.0
dataclasses==0.6
ecos==2.0.7.post1
entrypoints==0.3
et-xmlfile==1.0.1
excalibur-py==0.4.3
fastcache==1.1.0
Flask-Compress==1.10.1
flatbuffers==1.12
future==0.18.2
gast==0.4.0
ghostscript==0.7
gmpy2==2.0.8
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.0
h5py==3.1.0
HeapDict==1.0.1
hydra-core==1.1.1
hyperopt==0.2.5
idna==3.2
imbalanced-learn==0.8.1
imblearn==0.0
importlib-resources==5.2.2
inflect==5.3.0
inflection==0.5.1
iopath==0.1.9
jdcal==1.4.1
json5==0.9.5
jupyter==1.0.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kombu==5.1.0
lightgbm==3.2.1
llvmlite==0.36.0
locket==0.2.1
Markdown==3.3.4
mccabe==0.6.1
mpmath==1.2.1
multipledispatch==0.6.0
mypy-extensions==0.4.3
netCDF4==1.5.7
oauthlib==3.1.1
olefile==0.46
omegaconf==2.1.1
opencv-python==4.1.2.30
opt-einsum==3.3.0
osqp==0.6.2.post0
pandas==1.2.4
pandas-datareader==0.10.0
parso==0.7.0
pathspec==0.9.0
patsy==0.5.1
pdf2image==1.16.0
pdfminer.six==20201018
pdftopng==0.2.3
pep8==1.7.1
pickle-mixin==1.0.2
pkginfo==1.7.0
plotly==5.3.1
ply==3.11
poppler-utils==0.1.0
portalocker==2.3.2
prettytable==2.2.1
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycosat==0.6.3
pycurl==7.43.0.6
pydot==1.4.2
PyPDF2==1.26.0
pyportfolioopt==1.4.2
pytesseract==0.3.8
pytest==6.2.3
PyYAML==5.1
pyzmq==20.0.0
QDarkStyle==2.8.1
qdldl==0.1.5.post0
QtPy==1.9.0
Quandl==3.6.1
requests==2.26.0
requests-cache==0.8.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.1
scs==2.1.4
simplegeneric==0.8.1
tables==3.6.1
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.9.4
tifffile==2020.10.1
torch==1.7.0
torchvision==0.8.1
unicodecsv==0.14.1
url-normalize==1.4.3
urllib3==1.26.7
vine==5.0.0
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
xarray==0.19.0
xgboost==1.4.2
xlwings==0.23.0
xlwt==1.3.0
xmltodict==0.12.0
yacs==0.1.8
zict==2.0.0
zope.event==4.5.0