    body {
        font-family: 'Helvetica';
    }
    
    .logo {
        height: 190px;
        width: 190px;
        text-align: center;
    }
    
    .sidebar {
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        background: #551e6c;
    }
    
    .content {
        width: 100vh;
        position: fixed;
    }
    
    .right_content {
        width: 100%;
    }
    
    .section-main {
        background: #EAEAEA;
        height: 55px;
        min-width: 1240px;
        position: relative;
        top: 0;
        left: 200px;
        border-bottom: 5px solid #793AF6;
    }
    
    .section-header {
        width: 200px;
        height: 100%;
        background-color: #F5F8FB;
        border-right: 3px solid #CCCCCC;
        text-align: center;
        padding-top: 16px;
    }
    
    .nav-Link {
        color: white;
        padding: 10px 0px 10px 30px;
        border-radius: 0px;
    }
    
    .nav-Link:hover {
        background-color: #7D55C7;
        color: white;
        padding: 10px 0px 10px 30px;
        border-radius: 0px;
    }
    
    .nav-Link:focus {
        background-color: #7D55C7;
        border-radius: 0px;
    }
    
    .doc-nav-Link {
        color: white;
        padding: 10px 0px 10px 30px;
        border-radius: 0px;
        position: fixed;
        bottom: 20px;
    }
    
    .doc-nav-Link:hover {
        background-color: #7D55C7;
        color: white;
        padding-right: 72px;
        border-radius: 0px;
    }
    
    .icon-nav-link {
        height: 33px;
        width: 33px;
        margin-right: 15px;
        border: 0px solid #7D55C7;
        border-radius: 25px;
        background-color: white;
        padding: 3px;
    }
    
    .upload-main-container {
        width: 100%;
    }
    
    .upload-sidebar {
        width: 250px;
        height: 100vh;
        float: left;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 30px;
    }
    
    .upload-right-container {
        width: 67%;
        float: left;
        padding: 0px 140px;
    }
    
    .upload-sub-header {
        text-align: left;
        margin-top: 30px;
    }
    
    .upload-sub-divider {
        text-align: left;
        margin: 40px 0;
    }
    
    .upload-sub-divider::before,
    .upload-sub-divider::after {
        display: inline-block;
        content: "";
        border-top: .3rem solid black;
        width: 4rem;
        margin: -0.6rem 1rem;
        transform: translateY(-1rem);
    }
    
    .upload-right-inputs {
        width: 100%;
        height: 35px;
    }
    
    .upload-right-inputs[type=text],
    .upload-right-inputs[type=url] {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        border: none;
        border-bottom: 1px solid #757575;
    }
    
    .upload-right-inputs::placeholder {
        padding-left: 8px;
    }
    
    .file-selection-box {
        height: 60px;
        line-height: 60px;
        border-width: 1px;
        border-style: dashed;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
    }
    
    .file-list-li {
        margin: 0;
        padding: 0;
        margin-left: -20px;
        font-size: 0.8em;
    }
    
    .err-list-ol {
        margin: 0;
        padding: 0;
    }
    
    .upload-right-button {
        margin-top: 20px;
        border-radius: 5px;
        height: 45px;
        width: 250px;
        color: white;
        font-weight: bold;
        background-color: #7D55C7;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-style: none;
    }
    
    .upload-right-button:hover {
        margin-top: 20px;
        border-radius: 5px;
        height: 45px;
        width: 250px;
        color: white;
        font-weight: bold;
        background-color: #c7a355;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-style: none;
    }
    
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.5;
        }
    }
    
    ._dash-loading-callback::before {
        z-index: 10;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.5);
    }
    
    ._dash-loading-callback::after {
        background: rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        z-index: 11;
        position: fixed;
        width: 15ch;
        height: 15ch;
        top: calc(50vh - 15ch / 2);
        left: calc(50vw - 15ch / 2);
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-top: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        border-radius: 50%;
        line-height: 15ch;
        color: #ffffff;
        text-align: center;
        content: "Loading ...";
        animation: spin 4s ease, loadingtext 2s linear;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
    
    @keyframes loadingtext {
        0% {
            content: "Loading ..";
        }
        16.7% {
            content: "Loading  .";
        }
        33.3% {
            content: "Loading   ";
        }
        50% {
            content: "Loading ..";
        }
        66.7% {
            content: "Loading .";
        }
        83.3% {
            content: "Loading ";
        }
        100% {
            content: "Loading ..";
        }
    }
    
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    .section-dashboard_bar_chart {
        height: 360px;
        width: 360px;
        margin: 10px;
        display: inline-block;
        border: 1px solid white;
        vertical-align: top;
    }
    
    .section-dashboard_wordcloud {
        height: 360px;
        width: 360px;
        margin: 10px;
        display: inline-block;
        border: 1px solid white;
        vertical-align: top;
    }
    
    .section-dashboard_relevant_tables {
        height: 280px;
        width: 740px;
        margin: 10px;
        border: 1px solid white;
        vertical-align: top;
    }

    .section-dashboard_filter_class {
        width: 200px;
        padding-bottom: 10px;
        float: right;
        vertical-align: top;
    }
    
    .section-dashboard_cleaned_tables {
        height: 340px;
        width: 420px;
        margin: 25px 0px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    
    .section-dashboard_selected_images {
        height: 340px;
        width: 420px;
        margin: 25px 0;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    
    .section-dashboard_left_content {
        width: 65%;
        display: inline-block;
    }
    
    .section-dashboard_right_content {
        width: 35%;
        display: inline-block;
        position: fixed;
    }
    
    .section-dashboard_left_content_upper {
        width: 760px;
        height: 380px;
        margin: 25px;
        border-radius: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    
    .section-dashboard_left_content_lower {
        width: 760px;
        height: 300px;
        margin: 25px;
        border-radius: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        overflow: scroll;
    }